.frameChild {
  width: 62px;
  position: relative;
  border-radius: 50%;
  height: 62px;
  object-fit: cover;
}
.mapconnect {
  position: undefined;
  display: inline-block;
  width: 56px;
  margin-top: 7px;
}
.frame,
.frame1,
.frame2 {
  position: absolute;
  top: 45px;
}
.frame {
  left: 25px;
  width: 239px;
  height: 62px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 17px;
}
.frame1,
.frame2 {
  left: 1169px;
  cursor: pointer;
}
.frame2 {
  left: 1274px;
}
.mapconnectMaps {
  margin: 0;
}
.span {
  color: var(--color-gray-100);
}
.theUltimateSolutionToConne {
  margin: 0;
  font-size: 50px;
  color: #85818d;
}
.mapconnectMapsTheContainer {
  position: absolute;
  top: 169px;
  left: 361px;
  font-family: var(--font-jomhuria);
  text-align: center;
  font-size: 140px;
}
.desktop1Child,
.desktop1Item {
  position: absolute;
  border-radius: var(--br-21xl);
}
.desktop1Child {
  top: 438px;
  left: 45px;
  background-color: var(--color-gray-100);
  border: 10px solid var(--color-snow);
  box-sizing: border-box;
  width: 1351px;
  height: 505px;
}
.desktop1Item {
  top: 457px;
  left: 748px;
  width: 622px;
  height: 460px;
  object-fit: cover;
}
.embarkOnA {
  position: absolute;
  top: 631px;
  left: 85px;
  color: var(--color-white);
  display: inline-block;
  width: 647px;
  height: 411px;
}
.desktop1Inner {
  position: absolute;
  top: 499px;
  left: 244px;
  cursor: pointer;
}
.getStarted {
  position: absolute;
  top: 512px;
  left: 303px;
  color: var(--color-white);
}
.frameItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 1474px;
  height: 777px;
}
.useOurPolygon {
  position: absolute;
  top: 221px;
  left: 141px;
  display: inline-block;
  width: 562px;
}
.searchASpecific {
  position: absolute;
  top: 112px;
  left: 141px;
  font-size: 60px;
  color: var(--color-white);
}
.frameInner {
  position: absolute;
  top: 62px;
  left: 737px;
  border-radius: 30px;
  width: 707px;
  height: 463px;
  object-fit: cover;
}
.ellipseDiv {
  position: absolute;
  top: 188px;
  left: 963px;
  border-radius: 50%;
  background-color: rgba(193, 189, 226, 0.4);
  border: 1px solid #464ccf;
  box-sizing: border-box;
  width: 252px;
  height: 227px;
}
.frame5 {
  width: 1474px;
  position: relative;
  height: 777px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1475px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.andExperienceSeamless {
  line-height: 140%;
  text-transform: lowercase;
  color: var(--color-gray-100);
}
.andExperienceSeamlessPerfor {
  font-size: var(--font-size-16xl);
}
.integrateYourBuyerContainer {
  width: 1038px;
  position: relative;
  display: inline-block;
}
.frame6 {
  position: absolute;
  top: 955px;
  left: 0;
  width: 1310px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  font-size: 70px;
  color: var(--color-black);
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 1.1px;
  background-color: #220f5a;
  width: 1474px;
  height: 349px;
  transform: rotate(0.19deg);
  transform-origin: 0 0;
}
.lineDiv {
  position: absolute;
  top: 53.4px;
  left: 527.6px;
  border-right: 4px solid var(--color-white);
  box-sizing: border-box;
  width: 4px;
  height: 244px;
}
.ellipseIcon,
.mapconnect1 {
  position: absolute;
  top: 55.4px;
}
.ellipseIcon {
  left: 86.6px;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.mapconnect1 {
  left: 183.6px;
}
.aboutUsFaqContainer {
  position: absolute;
  top: 70.4px;
  left: 630.6px;
  font-size: var(--font-size-16xl);
}
.rectangleParent {
  position: absolute;
  top: 1876px;
  left: 0;
  width: 1475.1px;
  height: 353.8px;
  font-size: 45px;
  color: var(--color-white);
}
.frame3,
.frameIcon {
  position: absolute;
  top: 1157px;
  left: 0;
  width: 1429px;
  height: 626px;
  overflow: hidden;
}
.frame3 {
  top: 1071px;
  left: -1px;
  width: 1475.1px;
  height: 2229.8px;
  color: #cec8c8;
}
.desktop1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 3296px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-gray-100);
  font-family: var(--font-jockey-one);
}
.desktop1:active {
  display: flex;
}
