.desktop5Child {
  position: absolute;
  top: 67px;
  left: 30px;
  mix-blend-mode: normal;
  cursor: pointer;
}
.desktop5Item {
  position: absolute;
  top: 116px;
  left: 720px;
  width: 687px;
  height: 810px;
  object-fit: cover;
}
.email,
.signUp,
.username {
  position: absolute;
  left: 63px;
}
.signUp {
  top: 232px;
  font-size: var(--font-size-11xl);
}
.email,
.username {
  top: 315px;
}
.username {
  top: 437px;
}
.confirmPassword,
.password {
  position: absolute;
  top: 557px;
  left: 61px;
}
.confirmPassword {
  top: 680px;
  left: 63px;
}
.blankLine {
  margin: 0;
}
.ifYouAlreadyContainer {
  position: absolute;
  top: 878px;
  left: 63px;
  font-size: var(--font-size-11xl);
}
.desktop5Inner,
.loginHere {
  position: absolute;
  top: 913px;
  left: 522px;
  cursor: pointer;
}
.desktop5Inner {
  top: 812px;
  left: 229px;
}
.register {
  position: absolute;
  top: 828px;
  left: 283px;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.desktop5Child1,
.desktop5Child2,
.desktop5Child3,
.rectangleTextfield {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 365px;
  left: 61px;
}
.desktop5Child1,
.desktop5Child2,
.desktop5Child3 {
  top: 485px;
}
.desktop5Child2,
.desktop5Child3 {
  top: 612px;
}
.desktop5Child3 {
  top: 730px;
  left: 63px;
}
.desktop5 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-abeezee);
}
@media screen and (max-width: 1200px) {
  .desktop5Item {
    opacity: 0;
  }
  .desktop5Item.animate {
    animation: 1s ease 0s 1 normal forwards slit-in-vertical;
  }
  @keyframes slit-in-vertical {
    0% {
      transform: translateZ(-800px) rotateY(90deg);
      opacity: 0;
    }
    54% {
      transform: translateZ(-160px) rotateY(87deg);
      opacity: 1;
    }
    to {
      transform: translateZ(0) rotateY(0);
    }
  }
}
