.emailUsername,
.logIn,
.password {
  position: absolute;
  top: 211px;
  left: 41px;
}
.emailUsername,
.password {
  top: 294px;
  font-size: var(--font-size-6xl);
}
.password {
  top: 433px;
  left: 47px;
}
.donsHaveAn {
  top: 667px;
  left: 48px;
  display: inline-block;
  width: 439px;
}
.donsHaveAn,
.home,
.signUp {
  position: absolute;
}
.signUp {
  cursor: pointer;
  text-decoration: none;
  top: 667px;
  left: 389px;
  color: #1627bd;
}
.home {
  top: 95px;
  left: 189px;
  color: var(--color-white);
  text-align: center;
}
.loginChild,
.loginItem {
  position: absolute;
  left: 147px;
  cursor: pointer;
}
.loginChild {
  text-decoration: none;
  top: 560px;
  border-radius: 20px;
  background-color: #1920c9;
  width: 242px;
  height: 66px;
}
.loginItem {
  top: 62px;
}
.login1 {
  position: absolute;
  top: 576px;
  left: 224px;
  color: var(--color-white);
  text-align: center;
}
.backArrowIcon {
  position: absolute;
  top: 300px;
  left: 894px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.loginInner {
  position: absolute;
  top: 167px;
  left: 668px;
  border-radius: 50%;
  width: 694px;
  height: 698px;
  object-fit: cover;
}
.loginChild1,
.rectangleTextfield {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 343px;
  left: 46px;
}
.loginChild1 {
  top: 488px;
  left: 48px;
}
.home1 {
  position: absolute;
  top: 76px;
  left: 147px;
  color: var(--color-snow);
  text-align: center;
  display: inline-block;
  width: 232px;
  height: 52px;
}
.login {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-abeezee);
}
